* { box-sizing: border-box }
*:focus {
    outline: none;
}

footer {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 25px;
}

footer a {
  text-align: center;
}

footer a img {
  width: 50%;
}

#mapa-mexico path{
  fill: hsl(0, 100%, 100%);
  stroke: #fff;
  stroke-width: 0.5;

  transition: fill 600ms;
}

#header{
  background: #ffdf00;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#blob1{
  position: absolute;
  top: -550px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.matrix-circle{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 8px 15px;
}
.colocation-sector{
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
}
.matrix-row .item{
  display: inline-block;
  width: 61px;
  text-align: center;
  font-weight: bold;
}

.matrix-row .item-6{
  display: block;
  width: 109px;
  text-align: right;
  float: left;
  transform: rotate(-90deg);
  height: 76px;
  margin-left: -21px;
  margin-right: -22px;
  position: relative;
  left: 21px;
  top: 19px;
  font-size: 12px;
  line-height: 13px;
}

.colocation-number{
  font-weight: bold;
  margin: 0 20px 0 50px;
}
.colocation-list{
  display: inline-block;
  flex-grow: 1;
}
.colocation-matrix{
  display: inline-block;
}
.colocation-bar{
  margin-top: 10px;
  height: 25px;
  /*background: linear-gradient(to right, hsl(254, 100%, 70%) 0%, hsl(0,100%,70%) 100%);*/
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(289,100%,70%), hsl(329,100%,70%), hsl(9,100%,70%), hsl(50,100%,70%));
}
/*Nuevo estilo para la barra verde azul fig-6-right=====================================================*/

.colocation-bar-right{
  margin-top: 10px;
  height: 25px;
  background: linear-gradient(to right, hsl(234, 70%, 70%), hsl(201,70%,70%), hsl(167,70%,70%), hsl(134,70%,70%), hsl(100,70%,70%));
}

/* ===================================================================================================*/
.fig-11{
  font-size: 10px;
}
.fig-11 .matrix-row{
  height: 19px;
}
.fig-11 .item{
  width: 13.45px;
}
.fig-11 .colocation-sector{
  height: 19px;
}
.fig-11 .matrix-circle{
  width: 12px;
  height: 12px;
  margin: 2px;
}
.container{
  width: 100%;
}
.fig6-container{
  background: #fff;
  display: flex;
  padding: 30px;
}
.bottom-axis-colocation{
  background: #fff;
  padding: 0 30px 30px;
  margin-top: -25px;
}
.wrapper{
  max-width: 1100px;
  margin: auto;
  position: relative;
}
.header-wrapper{
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-title{
  font-size: 37px;
}
.main-subtitle{
  font-size: 30px;
}
.menu{
  background: #f1f1f2;
  padding: 25px;
  margin-bottom: 100px;
}
.menu a{
  color: #000;
  text-decoration: none;
  margin-left: 35px;

}
.side-menu{
  position: absolute;
  right: 101%;
  height: 100%;
}
.side-menu .item{
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}
.side-menu .item .content{
  padding: 5px;
  z-index: 2;
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 600ms;
}
.sticky{
  position: sticky;
  top: 25px;
}
.side-menu .item:before{
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  background: #000;
  transition: width 600ms;
  z-index: 1;
}
.side-menu .item.active a{
  color: #fff;

}
.side-menu .item.active:before{
  width: 100%;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#creative-mapa-mexico .state{
  fill: rgb(250, 175, 64);
  stroke: #fff;
}

.viz-wrapper{
  padding: 45px 35px;
  background: #f1f1f2;
  margin: 0 auto 30px;
}

h1{
  margin: 60px 0 0px;
  color: #fff;
  background: #ff6c02;
  padding: 10px 20px;
  font-size: 20px;
}

.label{
  font-size: 0.85rem;
}

.state-number{
  margin-top: 30px;
}


.viz-row{
  display: flex;
  padding: 0 35px;
}

.state-container{
  width: 33.333%;
  margin-right: 35px;
  background: #fff;
}

.map-container{
  width: 66.6666666%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map-container svg{
  width: 100%;
}

.map-container-1 {
  width: 66.6666666%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.map-container-1 svg{
  width: 100%;
}

.controls-container{
  text-align: center;
  width: 100%;
  background: #fff;
}

.controls-wrapper{
  display: block;
}

.sector-switches{
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sector{
  display: flex;
  padding: 15px 20px;
}

.switch{
  padding-right: 10px;
}

.legend-row{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.circle{
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 12px;
}

.sector-legend{
  font-size: 0.85rem;
  vertical-align:middle;
  height: 30px;
  display: flex;
  align-items: center;
}
.legends{
  margin: 35px 0;
}
.data-sets{
  display: flex;
}
.state-numbers{
  display: flex;
}
.state-number{
  width: 50%;
}
.state-numbers p{
  color: #868686;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.state-numbers h1{
  background: #fff;
  padding: 0;
  font-size: 2rem;
  color: #ff6c02;
  margin: 1px 0;
}
.data-set{
  padding: 8px 15px;
  width: 50%;
  border: 2px solid #ff6c02;
  transition: color 300ms, background 300ms;
  cursor: pointer;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff6c02;
  letter-spacing: 0.12rem;
}

.data-set.active{
  color: #fff;
  background: #ff6c02;
}

.creative-data-set{
  padding: 8px 15px;
  width: 50%;
  border: 2px solid #652d90;
  transition: color 300ms, background 300ms;
  cursor: pointer;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  color: #652d90;
  letter-spacing: 0.12rem;
}

.creative-data-set.active{
  color: #fff;
  background: #652d90;
}

.heat-bar{
  margin-top: 70px;
  width: 100%;
  height: 30px;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f233c+0,f24372+100 */
background: rgb(127,35,60); /* Old browsers */
background: -moz-linear-gradient(right, rgb(254, 102, 1) 0%, rgb(255, 238, 228) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgb(254, 102, 1) 0%,rgb(255, 238, 228) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(254, 102, 1) 0%,rgb(255, 238, 228) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f233c', endColorstr='#f24372',GradientType=0 ); /* IE6-9 */
}

#top-data{
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  top: -30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff6c02;
}

#bottom-data{
   font-size: 0.8rem;
   position: absolute;
   right: 0;
   font-size: 1.4rem;
   font-weight: bold;
   top: -30px;
   color: #ff6c02;
}



.state{
  cursor: pointer;
  transition: fill 400ms;
}
.centered{
  align-items: center;
  justify-content: center;
}
#state-title{
  color: #fff;
  background: #ff6c02;
  padding: 8px 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.12rem;
}

.state-stats{
  padding: 15px;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 7px;
  left: 3px;
  width: 25px;
  height: 6px;
  display: block;
  background: #bbbdbf;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  display: block;
  background: #a6a8ab;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(255, 175, 64, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.cbx:checked + .toggle:before {
  background: #faaf40;
}
.cbx:checked + .toggle span {
  background: #ff6c02;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.viz-column{
  width: 50%;
  margin-left: 25px;
}

.number-header{
  background: #a6a8ab;
  color: #fff;
}

.header-figure {
  display: flex;
  justify-content: space-between;
}

.header-figure-map {
  display: flex;
  justify-content: flex-end;
  padding: 0 35px;
}

.number-figure {
  color:#a6a8ab;
  font-style: italic;
  font-weight: 600;
  text-align: right;
  margin-top: 13px;
  font-size: 0.8em;
  padding-bottom: 8px;
}

.two-headers {
  display: flex;
  flex-direction: row;
}

.chart-container{
  background: #fff;
  padding: 20px;
}

.number-header{
  display: inline-block;
  padding: 8px 15px;
  font-weight: 600;
}
.sector-data label{
  font-size: 0.9rem;
}

.sector-bar{
  background: #d0d2d3;
  height: 25px;
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  position: relative;
}
.sector-size{
  padding: 4px 10px;
  position: relative;
  z-index: 2;
}

.pink-bar{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f597c0;
  transition: width 1s;
  z-index: 1;
}

.sector-data{
  margin: 10px 0;
}

.orange{
  background: #FCB033;
}
.purple{
  background: #652892;
}
.pink{
  background: #f597c0;
}
.dark-pink{
  background: #f64e9e;
}
.light-purple{
  background: #917bed;
}
.teal{
  background: #4aafa7;
}
.yellow{
  background: #ffdd14;
}
.green{
  background: #57bfb8;
}
.fig9b-row{
  display: flex;
}
.fig9-container{
  display: none;
}
.fig9-container.active{
  display: block;
}
.fig9b-container{
  width: 25%;
}
.fig9b-container .year{
  text-align: center;
  font-size: 0.9rem;
  margin-top: 15px;
}
.fig9b-row{
  margin: 40px 0;
}
.row{
  display: flex;
}
.column{
  width: 50%;
  padding: 0 35px 35px;
}
.full-column{
  width: 100%;
  padding: 0 35px 35px;
}
.title{
  padding: 0 35px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  /*margin-top: 35px;*/
}
.footnote{
  padding: 0 35px;
  color: #A6A8AB;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 80px;
  overflow: scroll;
}
.footnote a{
  color: #A6A8AB;
  text-decoration: underline;
}
.subtitle{
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
}
p{
  font-size: 16px;
  line-height: 30px;
}
.state-bar{
  background: #d0d2d3;
  height: 20px;
  font-size:0;
}

/*================== para tooltips figs 4 y 10 ==========*/
.state-data{
  position: relative;
}
/*=======================================================*/

.state-data label{
  font-size: 0.9rem;
}
.bar-section{
  display: inline-block;
  height: 100%;
  width: 0;
  transition: width 800ms;
}
.bar-section-container{
  background: #fff;
  padding-top: 35px;
}
.music-performing-arts{
  background: #6ee1a5;
}
.publishing{
  background: #917bed;
}
.advertising-marketing{
  background: #fcb030;
}
.architecture{
  background: #f64e9e;
}
.crafts{
  background: #f597c0;
}
.libraries-museums{
  background: #ff6b00;
}
.software{
  background: #52c0b8;
}
.film-radio-tv{
  background: #ad0067;
}
.design{
  background: #ffdf00;
}

.bottom-axis{
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#number-of-meetups .option{
  color: #f64e9e;
  border: 2px solid #f64e9e;
  background: #fff;
  transition: color 300ms, background 300ms;
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
#number-of-meetups .option.active{
  color: #fff;
  background: #f64e9e;
}

#colocacion-sectores .option{
  color: #f795c0;
  border: 2px solid #f795c0;
  background: #fff;
  transition: color 300ms, background 300ms;
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  /*min-width: 300px;*/
  text-align: center;
}
#colocacion-sectores .option.active{
  color: #fff;
  background: #f795c0;
}

#fig4 .option{
  color: #917bed;
  border: 2px solid #917bed;
  background: #fff;
  transition: color 300ms, background 300ms;
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

#fig5 .option{
  color: #652892;
  border: 2px solid #652892;
  background: #fff;
  transition: color 300ms, background 300ms;
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

#fig10 .option{
  color: #52c0b8;
  border: 2px solid #52c0b8;
  background: #fff;
  transition: color 300ms, background 300ms;
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}


#fig5-establishments, #fig5-employees{
  padding: 20px;
}
.fig7-row{
  display: flex;
}
.fig7-legends{
  flex-grow: 1;
  padding-left: 50px;
}
.fig7-legends .legend-row{
  justify-content: flex-end;
}
.fig7-legends .sector-legend{
  margin-left: 20px;
}
.fig7-title{
  display: inline-block;
  color: #fff;
  background: #a6a8ab;
  padding: 11px 16px 8px;
  font-weight: bold;
}
.crecimiento-creativo{
  background: #ffdd14;
}
.crecimiento-todos{
  background: #57bfb8;
}
#fig7-container, #fig8-container{
  background: #fff;
  padding: 40px 30px 0;
}
.fig-header{
  display: inline-block;
  padding: 5px 15px;
  background: #cbccce;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
.hide-o{
  opacity: 0;
}
#fig4 .option.active{
  color: #fff;
  background: #917bed;
}
#fig5 .option.active{
  color: #fff;
  background: #652892;
}
#fig10 .option.active{
  color: #fff;
  background: #52c0b8;
}
.not-creative{
  background: #6ee1a5;
}
.videogames{
  background: #ff6b00;
}
.freelance{
  background: #f64e9e;
}
.hide-f4, .hide-f5, .hide-f6, .hide-f10 {
  display: none;
}
.hide-f4.active, .hide-f5.active, .hide-f6.active, .hide-f10.active {
  display: flex;
}
#fig9, #fig9b{
  background: #fff;
  padding: 30px 10px 15px;
}

.mobile-menu{
  display: none;
  width: 100px;
  cursor: pointer;
}

.mobile-nav {
  max-height: 0;
  transition: max-height 1000ms;
  width: 100%;
  overflow: hidden;
  margin-top: 35px;
}
.mobile-nav.active {
  display: block;
  max-height: 400px;
}

.mobile-nav .item {
  width: 100%;
  padding: 15px;
  border-top: 1px solid #dbdbdb;
}

.item a {
  color: #000;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hamburger {
  position: relative;
  transform: translateY(-50%);
  margin: auto;
  top: 2px;

}

.hamburger, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background: #000;
  cursor: pointer;
  transition: background 300ms, transform 300ms, top 300ms;
}

.hamburger:after {
  position: absolute;
  left: 0;
  top: -10px;
}

.hamburger:before {
  position: absolute;
  left: 0;
  top: 10px;
}

.hamburger.active{
  background: transparent;
}

.hamburger.active:after {
  transform: rotate(-45deg);
  top: 1px;
}

.hamburger.active:before {
  transform: rotate(45deg);
  top: 2px;
}

.wrapper-menu {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

@media only screen and (max-width : 1430px) {
  .main-content {
    padding-top: 100px;
  }
  .menu{
    margin-bottom: 50px;
  }

  .side-menu {
    right: 0;
    z-index: 2;
    width: 100%;
    height: 75px;
  }

  .side-menu .item {
    margin-top: 15px;
    display: inline-table;
  }

  .sticky {
    display: flex;
    justify-content: space-between;
    top: 0;
    background: #fff;
  }

}

@media only screen and (max-width : 1224px) {
  #blob1 {
    width: 850px;
  }
}

@media only screen and (max-width : 1000px) {
  .main-content { padding-top: 50px; }
  .side-menu { display: none; }
  .mobile-menu{ display: flex; }
  .row-mobile{ display: flex; }
  .item a { margin-left: 18px; }
}

@media only screen and (max-width : 920px) {
  #blob1 {
    width: 850px;
  }
}

@media only screen and (max-width : 760px) {
  .header-wrapper { padding: 0 3px; }
  .main-subtitle { font-size: 20px; }
  .row { flex-direction: column; }
  .column { width: 100%; }
  .viz-wrapper { padding: 0;}
  .viz-row { padding: 0 0 17px 0; flex-wrap: wrap; }
  .viz-column { width: 100%; margin-left: 0; padding: 0 15px; }
  .number-header { width: 70%; }
  .number-figure { padding: 18px 10px 0 0; }

  .legends { display: flex; flex-direction: column; padding-left: 20px; padding-right: 20px; }
  .legend-row { display: flex; flex-wrap: wrap; }
  .number-figure.only-responsive {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: -40px;
    text-align: right;
    margin-left: 262px;
  }
  #fig4, #fig5, #colocacion-sectores, #number-of-meetups, #fig10 { margin: 0 15px 0 15px;  }
  .bar-section-container { margin: 0 15px; }

  .split-paragraph { margin-bottom: -48px; }
  .state-container { width: 100%; margin-left: 35px; }
  .map-container { width: 95%; margin: 35px; }

  .state-wrapper { max-width: 100%; display: flex; flex-direction: column; }
  .state-stats { display: flex; flex-direction: column; }
  #state-chart { width: 280px;  }
  .state-container.map-2 { width: 92%; margin-left: 13px; }

  #fig6left, #fig6right { overflow: scroll; }
  .fig6-container { padding: 25px; }
  .colocation-list { flex-grow: 0; }
  .container { min-width: 624px; }
  .colocation-title { max-width: 72px; }
  .colocation-sector { height:40px; font-size: 12px; }
  .matrix-row .item { width: 42px; }
  .matrix-circle { width: 20px; height: 20px; margin: 8px 13px; }

  .fig7-row { flex-flow: wrap; }
  .fig7-legends .sector-legend { padding-right: 25px; }
  #fig7-container { overflow: scroll; padding-left: 10px; }
  #fig7-canvas { width: 360px !important; /*height: 183px !important;*/ padding-right: 15px; }

  #fig8-container { padding: 40px 0px 0; }

  .fig11-container { overflow: scroll; }
  .fig6-container.fig-11 { min-width: 1445px; }
  .colocation-sector.f11 { height: 30px; }
  .colocation-sector.f11 .colocation-title { max-width: 96px; }
  .bottom-axis-colocation.f11 { min-width: 1435px; }
  .matrix-row.f11 .item { width: 23.48px; }
  .fig-11 .matrix-row { height: 30px; }
  .fig-11 .matrix-circle { margin: 7px; }

  #blob1 {
    width: 850px;
  }

  .matrix-row .item-6{
    margin-left: -41px;
    left: 36px;
    font-size: 11px;
    line-height: 11px;
  }
}

@media only screen and (max-width : 455px) {
  footer {
    padding: 0;
  }

  footer a img {
    width: 75%;
  }
}


